In [1]:
import logging
import pandas as pd
import numpy as np

import torch as th

from clearml import Task

from de_anonymizer.de_anonymizer import DeAnonymizer
from utils import read_data_for_grader, compute_metrics, choose_data

In [41]:
# Read data from study 1
data_used = "famous_and_semi"
data_dir1 = f"textwash_data/study1/intruder_test/full_data_study.csv"

columns_to_read = ["type", "text", "file_id", "name", "got_name_truth_q2"]
raw_data1 = pd.read_csv(data_dir1, usecols=columns_to_read)

# Aggregate by file_id and calculate the rate of re-identification
data1 = (
    raw_data1.groupby(["type", "file_id", "name", "text"])
    .agg({"got_name_truth_q2": "mean"})
    .reset_index()
)
data1.rename(columns={"got_name_truth_q2": "human_rate"}, inplace=True)

# Define population to use
data1 = choose_data(data1, data_used)

In [42]:
data1

            type  ... human_rate
0         famous  ...   0.000000
1         famous  ...   0.666667
2         famous  ...   0.000000
3         famous  ...   0.000000
4         famous  ...   1.000000
...          ...  ...        ...
1191  semifamous  ...   0.000000
1192  semifamous  ...   0.000000
1193  semifamous  ...   0.000000
1194  semifamous  ...   0.000000
1195  semifamous  ...   0.000000

[798 rows x 5 columns]

In [43]:
# Read data from study 2
data_dir2 = f"textwash_data/study2/intruder_test/full_data_study.csv"

columns_to_read = ["text", "file_id", "person_long", "got_name_truth_q2_long"]
raw_data2 = pd.read_csv(data_dir2, usecols=columns_to_read)

# Aggregate by file_id and calculate the rate of re-identification
data2 = (
    raw_data2.groupby(["file_id", "person_long", "text"])
    .agg({"got_name_truth_q2_long": "mean"})
    .reset_index()
)
data2.rename(columns={"got_name_truth_q2_long": "human_rate", "person_long": "name"}, inplace=True)

In [45]:
data2["type"] = ["famous"] * len(data2)
data2

             file_id         name  ... human_rate    type
0     adele_1002.txt        adele  ...   0.500000  famous
1     adele_1043.txt        adele  ...   1.000000  famous
2     adele_1048.txt        adele  ...   0.500000  famous
3     adele_1051.txt        adele  ...   0.333333  famous
4     adele_1067.txt        adele  ...   0.000000  famous
...              ...          ...  ...        ...     ...
1075  watson_916.txt  emma watson  ...   0.000000  famous
1076  watson_921.txt  emma watson  ...   0.000000  famous
1077  watson_931.txt  emma watson  ...   1.000000  famous
1078  watson_937.txt  emma watson  ...   0.000000  famous
1079  watson_942.txt  emma watson  ...   0.500000  famous

[1080 rows x 5 columns]

In [48]:
# combine the two dataframes
data = pd.concat([data1, data2])
data

        type  ... human_rate
0     famous  ...   0.000000
1     famous  ...   0.666667
2     famous  ...   0.000000
3     famous  ...   0.000000
4     famous  ...   1.000000
...      ...  ...        ...
1075  famous  ...   0.000000
1076  famous  ...   0.000000
1077  famous  ...   1.000000
1078  famous  ...   0.000000
1079  famous  ...   0.500000

[1878 rows x 5 columns]

In [49]:
# Split the data into training and remaining data
train_data, val_data = train_test_split(data, test_size=0.2, random_state=seed)

# Split the remaining data into validation and test data
val_data, test_data = train_test_split(val_data, test_size=0.5, random_state=seed)

NameError: name 'train_test_split' is not defined